*{
    margin:0;
    padding:0;
}

body{
    background-color:#BBE2EC;
    overflow-x: hidden;
}

nav{
    width:100%;
    background-color: #40A2E3;
}

nav h2{
    color:#fff;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sec1 {
   position: relative;
   background:url(./images/national-cancer-institute-L8tWZT4CcVQ-unsplash.jpg);
   height:30rem;
   width:30rem;
   top:10rem;
   left:49rem;
   background-size:cover;
   display: flex;
   justify-content: center;
   background-position: center;
   border-radius:20px;
}

.signin{
    position: relative;
    width: 50rem;
    height: 10rem;
    scale:0.85;
    opacity: 0.85;
    backdrop-filter: blur(20px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 20px;
}
.img {
    position: relative;
    z-index: -1;
    top:25rem;
    height:120%;
    width:100%;
}
hr{
    width:88%;
    position: absolute;
    left:6%;
    top:47rem;
}
p{
    position: absolute;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.line{
    position: relative;
    top:70rem;
}
.circle{
    height:35rem;
    width:35rem;
    border-radius:50%;
    position: absolute;
    left:7rem;
    top:7rem;
    background-color:#000080;    ;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    border:5px solid rgb(210, 209, 209);
}
.circlepara{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:1.15rem;
    font-weight: 600;
}

.sec2{
    height:30rem;
    top:15rem;
    width:85%;
    left:7%;
}
.sec2 p::selection{
    background-color: rgba(255, 166, 0, 0.581);
}
.sec2 b::selection{
    background-color: rgba(255, 166, 0, 0.581);
}
footer{
    margin-top:30rem;
    background-color: #40A2E3;
    width:75%;
    left:8rem;
    border-radius:2rem;
   margin-bottom:3rem;
}
.circle span::selection{
    background-color:orange;
}
.line{
    height:25rem;
    width:0.15rem;
    background-color: white;
    position: absolute;
    top:1rem;
    left:22rem;
}
#main{
    height:100%;
    width:100%;

}
#cursor{
    height:20px;
    width:20px;
    background-color: white;
    position: fixed;
    border-radius: 50%;
    z-index: 99;
}
#logoname{
    height:55vw;
    width:100%;
    background-color: white;
    position:relative;
    top:23rem;
    font-size:50rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
#logoname h1{
    position: relative;
    left:75rem;
    top:-2rem;
    font-weight: 600;
    color:#40A2E3;
}
@media only screen and (max-width:768px){
    nav{
        margin-left:10%;
    }
    .signin{
        margin-right:20%;
        height:auto;
        width:auto;
    }
};

@-webkit-keyframes filter-animation {
    0% {
      -webkit-filter: hue-rotate(0deg);
    }
    50% {
      -webkit-filter: hue-rotate(45deg);
    }
    
    100% {
      -webkit-filter: hue-rotate(0deg);
    }
}
  
@keyframes filter-animation {
    0% {
      filter: hue-rotate(0deg);
    }
    50% {
      filter: hue-rotate(45deg);
    }
    100% {
      filter: hue-rotate(0deg);
    }
}

@keyframes filter-scale {
    0% {
      transform:scale(1);
    }
    50% {
      transform:scale(1.4);
    }
    100% {
        transform:scale(.8);
    }
}


